---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import { contentfulClient } from "@lib/contentful/contentful";
import type { EntryFieldTypes } from "contentful";

interface BlogPost {
  contentTypeId: "post",
  fields: {
    text: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink,
  }
}

const posts = await contentfulClient.getEntries<BlogPost>({
	content_type: "post",
});
---

<Layout title="Feel Good">
	<main>
		<header class="min-h-[80vh] flex items-center flex-col justify-center">
			<h1 class="font-bold h1">Feel Good</h1>
			<span class="text-xl ml-3 opacity-75">Une application pour vous faire sentir bien.</span>
		</header>
		<ul>
			{posts.items.map((post) => (
				<li>
					<Post post={post} />
				</li>
			))}
		</ul>
	</main>
</Layout>
<style>
	body { 
		background: -webkit-linear-gradient(to right, #E2E2E2, #FFF);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #E2E2E2, #FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.h1 {
		font-size: calc(3rem + 2vw);
	}
</style>
