---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import { contentfulClient } from "@lib/contentful/contentful";
import type { EntryFieldTypes } from "contentful";

interface BlogPost {
  contentTypeId: "post",
  fields: {
    text: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink,
  }
}

const posts = await contentfulClient.getEntries<BlogPost>({
	content_type: "post",
});
---

<Layout title="Welcome to Feel Good.">
	<main>
		<header class="min-h-[80vh] flex items-center justify-center">
			<h1 class="font-bold text-6xl">Feel Good</h1>
			<span class="text-xl ml-3">An app to make you feel good.</span>
		</header>
		<ul>
			{posts.items.map((post) => (
				<li>
					<Post post={post} />
				</li>
			))}
		</ul>
	</main>
</Layout>
